<html>
    <body>
        <head>
    	<meta charset="UTF-8"/>
    	<link rel="stylesheet" href="/css/style.css" />
    </head>
	<div class="container">
        <H1>Welcome to &#128218;Bookcase&#128218;, <%= user.name %></H1>
		<hr/>
		<p>You logged in through <b><%= user.type %>&#x2705;</b></p>
        <H2>Bookshelf (<%= nBookshelfs %>)</H2>
        <ul>
            <% for (var b of bookshelfs) { %>
            <li>Book Name: <a href="/details?_id=<%= b._id %>"><%= b.bookname %></a></li>
            <% } %>
        </ul>
        <a href='/create'>Create a New Bookcase</a>
		<p><a href='/logout'>Logout</a></p>
    </div>
    </body>
</html>
