<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <h1>Welcome to &#128218; Bookcase &#128218;, <%= user.name %></h1>
        <hr/>
        <p>Loggin successfully <b><%= user.type %>&#x2705;</b></p>
        <h2>Bookshelf (<%= nBookshelfs %>)</h2>
        <ul>
            <% for (var b of bookshelfs) { %>
                <li>Book Name: <a href="/details?_id=<%= b._id %>"><%= b.bookname %></a></li>
            <% } %>
        </ul>
        <a href="/create">Create a New Bookcase</a>
        <p><a href="/logout">Logout</a></p>
    </div>
</body>
</html>
