<html>
    <head>
    	<meta charset="UTF-8"/>
    	<link rel="stylesheet" href="/css/style.css" />
    </head>
<body>
<div class="container">
  <h1>&#128218;Bookcase&#128218;</h1>
  <hr>
  <h2>Bookcase&#128218;</h2>
  <p><b>Book Name:</b> <%= bookshelfs.bookname %></p>
  <p><b>Author:</b> <%= bookshelfs.author %></p>

  <% if (bookshelfs.photo) { %>
    <img src="data:image/jpeg;base64,<%= bookshelfs.photo %>" width="200" alt="Book Image"><br>
  <% } %>

  <% if (bookshelfs.userid) { %>
    <p><small>Created by User ID: <%= bookshelfs.userid %></small></p>
  <% } %>

  <hr>
  <h3>Reviews</h3>

  <% if (bookshelfs.reviews && bookshelfs.reviews.length > 0) { %>
    <ul>
      <% bookshelfs.reviews.forEach(function(r){ %>
        <li>
          <b><%= r.username %></b> (<%= new Date(r.date).toLocaleString() %>): <%= r.text %>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No reviews yet.</p>
  <% } %>

  <hr>
  <h3>Add a Review</h3>
  <form action="/addreview" method="POST">
    <input type="hidden" name="_id" value="<%= bookshelfs._id %>">
    <textarea name="review" required placeholder="Write your review..." rows="4" cols="40"></textarea><br>
    <input type="submit" value="Add Review">
  </form>

  <hr>
  <a href="/edit?_id=<%= bookshelfs._id %>">Edit</a><br>
  <a href="/delete?_id=<%= bookshelfs._id %>">Delete</a><br>
  <a href="/">Home</a>
</div>
</body>
</html>
